
.carousel-inner {
	background: rgb(255, 255, 255);
	border-radius: 25px;
	/* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); */
	/* box-shadow: 5px 5px 3px #266880; */
	box-shadow: white 0px 0px 0.25em, #266880 0px 0.25em 1em;
}

.car-pos{
	margin: 10px;
	padding: 20px;
	
}

.hvr-float {
  	display: inline-block;
  	vertical-align: middle;
 	 -webkit-transform: perspective(1px) translateZ(0);
 	 transform: perspective(1px) translateZ(0);
 	 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-transition-duration: 0.6s;
 	 transition-duration: 0.6s;
 	 -webkit-transition-property: transform;
 	 transition-property: transform;
  	/* -webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out; */
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
 	 /* -webkit-transform: translateY(-8px);
	transform: translateY(-8px); */
	 -webkit-transform: scale(1.11);
	transform: scale(1.11); 
	color: #266880;
}

.titletext{
	color:#266880;
	font-family: quicksand;
}





