@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --grey-light: #DDDDDA;
    --grey-mid: #C2C8C5;
    --blue-light: #94B0B7;
    --blue-mid: #7697A0;
    --blue-dark: #4A707A;
    
}

h4 {
	font-family: 'Conv_Superior Title - Bold';
	color: #266880;
	font-size: 35px;
	letter-spacing: 1px;
	text-transform: capitalize;
}
p{
	font-size: 16px;
	color: #666666;
}


.background-Nav-Footer{
    background-color: white;
}

.text-color{
    color: black;
}

text-color:hover{
    color: var(--blue-dark);
}

.navbartext{
   font-size: 35px;
   padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}